#download {
  .card {
    position: relative;
    padding: 3rem 1.5rem 20rem;

    & > img {
      bottom: 0;
      width: 14.5rem;
      right: -1.5rem;
      position: absolute;
    }
  }

  .buttons {
    flex-wrap: wrap;
    margin-top: 2rem;
  }

  @media (width >= 80em) {
    & .card {
      padding: 8.75rem 5rem;

      & > div:nth-child(1) {
        max-width: 40rem;
      }
    }
  } 
}